{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bienvenue</h1>
  </div>
</div>
<div class="container">
  <h2 class="mb-5">Nos produits en promo</h2>

  {% for produit in produits %}
        {% if produit.promo %}
                <div class="d-lg-flex border-bottom border-dark pb-3 mb-3">
                        <div class="infos">
                                <h3>
                                        <a href="#" class="text-decoration-none text-body">
                                        {{ produit.name }}
                                        </a>
                                </h3>
                                <p>{{ produit.created|date('d/m/Y') }}</p>
                                <img src={{ produit.picture }}/>
                                <a href="#" class="btn btn-dark">En savoir +</a>
                        </div>
                </div>
        {% endif %}
  {% endfor %}
</div>
{% endblock %}