
<!-- Footer -->
<footer
	class="page-footer font-small ">

	<!-- Footer Links -->
	<div
		class="containe text-center text-md-left">

		<hr
		class="clearfix w-100 d-md-none">

		<!-- Grid column -->
		<div class="col-md-3 mx-auto">


			<a href="#">Politique de confidentialité</a>

		</div>
		<!-- Grid column -->

		<hr
		class="clearfix w-100 d-md-none">

		<!-- Grid column -->
		<div class="col-md-3 mx-auto">


			<a href="#">À propos de nous</a>


		</div>
		<!-- Grid column -->

		<hr
		class="clearfix w-100 d-md-none">

		<!-- Grid column -->
		<div class="col-md-3 mx-auto">


			<a href="#">Mentions légales</a>

		</div>
		<!-- Grid column -->

	</div>
	<!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2020 Copyright:
	<a href="{{ path('index') }}">
		Maréva Gauss</a>
</div>
<!-- Copyright --></footer><!-- Footer -->